<meta charset="UTF-8">
<!-- page heading start-->
<div class="page-heading">
	<ul class="breadcrumb">
		<li>版本管理</li>
		<li>版本列表</li>
		<li class="active">新增版本</li>
	</ul>
</div>
<!-- page heading end-->

<!--body wrapper start-->
<div class="wrapper">

	<!-- 遮罩层DIV -->  
    <div id="overlay" style="position: absolute; top: 0px; left: 0px;z-index: 10001;
    dispaly: none; filter:alpha(opacity=60); background-color: #777; opacity: 0.5; -moz-opacity: 0.5;"></div>  
    <!-- Loading提示 DIV -->  
    <div id="loadingTip" style="z-index: 10002; position: fixed; display: none;">  
        <img src="images/timg.gif" />  
    </div>

	<div class="row">
		<div class="col-sm-12">
			<section class="panel">
				<header class="panel-heading"> 新增版本 </header>
				<div class="panel-body">
					<form class="form-horizontal adminex-form" name="versionForm" method="get">
						<div class="form-group">
							<label class="col-sm-2 col-sm-2 control-label"><span
								class="necessary">*</span>版本名称</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="versionname" ng-model="versionname" required>
								<p class="help-block color-red" ng-show="versionForm.versionname.$error.required">名称不能为空！</p>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 col-sm-2 control-label"><span
								class="necessary">*</span>应用</label>
							<div class="controls col-md-10">
								<div class="fileupload fileupload-new"
									data-provides="fileupload">
									<span class="btn btn-default btn-file"> <span
										class="fileupload-new"><i class="fa fa-paper-clip"></i>
											选择文件</span> <span class="fileupload-exists"><i
											class="fa fa-undo"></i> 重新选择</span> <input type="file"
										class="default" ngf-select ng-model="apkFile" name="apkFile" required/>
									</span> <span class="fileupload-preview" style="margin-left: 5px;"></span>
									<a href="#" class="close fileupload-exists"
										data-dismiss="fileupload"
										style="float: none; margin-left: 5px;"></a>
									<p class="help-block color-red" ng-show="versionForm.apkFile.$error.required">应用不能为空！</p>
								</div>
							</div>
						</div>


						<div class="form-group">
							<label class="col-sm-2 col-sm-2 control-label"><span
								class="necessary">*</span>描述</label>
							<div class="col-sm-10">
								<textarea rows="6" class="form-control" name="versiondes" ng-model="versiondes" required></textarea>
								<p class="help-block color-red" ng-show="versionForm.versiondes.$error.required">描述不能为空！</p>
							</div>
						</div>
						<div class="form-group">

							<div class="col-sm-10 col-sm-offset-2 icheck">
								<div class="square-green single-row">
									<div class="checkbox newcheckbox">
										<input type="checkbox" ng-model="ispush"> <label>保存后自动推送 </label>
									</div>
								</div>
							</div>
						</div>
						<div class="pull-right">
							<a class="btn btn-primary" type="submit" ng-click="addVersion()">保存</a> <a class="btn btn-default"
								type="button" href="#/versionManage">取消</a>
						</div>

					</form>
				</div>
			</section>
		</div>
	</div>

</div>
<!--body wrapper end-->