<meta charset='utf-8'/>
<link rel="stylesheet" href="css/colpick.css" type="text/css"/>
<script type="text/javascript" src="js/colpick.js"></script>
<style type="text/css">
	#text_color,#background_color {
		width:325px;
		border-right: 100px solid green;
	}
</style>
<script type="text/javascript">
$(function(){
	$('#text_color').colpick({
		layout:'hex',
		submit:0,
		colorScheme:'dark',
		onChange:function(hsb,hex,rgb,el,bySetColor) {

			$(el).css('border-color','#'+hex);
			if(!bySetColor) $(el).val(hex);
		}
	}).keyup(function(){
		$(this).colpickSetColor(this.value);
	});
	$('#background_color').colpick({
		layout:'hex',
		submit:0,
		colorScheme:'dark',
		onChange:function(hsb,hex,rgb,el,bySetColor) {

			$(el).css('border-color','#'+hex);
			if(!bySetColor) $(el).val(hex);
		}
	}).keyup(function(){
		$(this).colpickSetColor(this.value);
	});
	
});
</script>
<!-- page heading start-->
<div class="page-heading">
	<ul class="breadcrumb">
		<li>
			终端管理
		</li>
		<li class="active"> 终端列表 </li>
	</ul>
</div>
<!-- page heading end-->
<!--body wrapper start-->
<div class="wrapper">
	<div class="row">
		<div class="col-sm-12">
			<section class="panel">
				<header class="panel-heading">
					终端列表
				</header>

				<div class="panel-body">
					<div class="adv-table">
						<div class="newposition">
							<div class="pull-left mysearch">
								<input type="text" class="form-control" placeholder="关键字搜索" ng-model="terminalmac" ng-change="findCode();"/>
							</div>
							<div class="btn-group pull-right">
                    			<button type="button" data-toggle="modal" data-target="#myModal1" class="btn btn-primary newBtn"  ng-click="add();">
                    			添加终端 <i class="fa fa-plus"></i></button>
			                    <a class="btn btn-primary newBtn mgleft" data-toggle="modal" data-target="#myModal2" ng-show="false">
			                   		  全部锁定 <i class="fa fa-lock"></i>
			                    </a>
			                    <button class="btn btn-primary newBtn mgleft" data-toggle="modal" data-target="#myModal6">
			                    	批量管控&nbsp;<i class="fa fa-lock"></i>
			                    </button>
							</div>
						</div>
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>序号</th>
									<th>地址</th>
									<th>MAC地址</th>
									<th>在线状态</th>													
									<th>操作</th>

								</tr>
							</thead>
							<tbody>
								<tr class="gradeX" ng-repeat="x in terminals">
									<td>{{(currentPage-1) * 10 + ($index+1)}}</td>
									<td>{{x.address}}</td>
									<td>{{x.mac}}</td>
									<td>{{x.heartHit | isOnLine}}</td>
									<td>
										<a href="javascript:void(0);" ng-click="checkRes(x.id);">查看资源</a>
										<a data-toggle="modal" data-target="#myModal4" ng-click="updateInfo(x.id);">更新</a>
										<a data-toggle="modal" data-target="#myModal" ng-click="del(x.id);">删除</a>
										<a data-toggle="modal" data-target="#myModal5" ng-click="capture(x.id);" id="sl{{x.id}}">截图</a>
										<a data-toggle="modal" data-target="#myModal3" ng-click="locked(x.id);">锁定</a>
									</td>
								</tr>
							</tbody>

						</table>
						<div class="">
							<pager page-count="pageCount" total-count="totalCount"
								current-page="currentPage" on-page-change="onPageChange()"
								first-text="首页" last-text="尾页" prev-text="上一页" next-text="下一页"></pager>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal6" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">批量管控</h4>
            </div>
            <div class="modal-body">
                <div class="tername mabottom">
					<p>推送类型</p>
					<input type="radio" value="1" ng-model="type"  style="width: 50px;" ng-change="typeChange();"> <label>文字</label>
					<input type="radio" value="2" ng-model="type" style="width: 50px;" ng-change="typeChange();"> <label>视频</label>
				</div>
				<div class="tername mabottom">
            	<p>推送内容</p>
                <input type="text" autocomplete="off" class="form-control placeholder-no-fix" id="content">
                </div>
				<div class="tername mabottom" ng-if="show">
            	<p>文字大小</p>
                <select class="form-control placeholder-no-fix" id="text_size" style="width: 335px; cursor: pointer;display: inline-block;">
                	<option ng-repeat="x in sizes" value="{{x}}">{{x}}</option>
                	
                </select>
                </div>
				<div class="tername mabottom" ng-show="show">
            	<p>文字颜色</p>
             	 #<input type="text" autocomplete="off" class="form-control placeholder-no-fix" id="text_color">
                </div>
				<div class="tername mabottom" ng-show="show">
            	<p>背景颜色</p>
                 #<input type="text" autocomplete="off" class="form-control placeholder-no-fix" id="background_color">
                </div>
				<div class="tername mabottom" ng-if="show">
            		<p>背景透明度</p>
					<select class="form-control placeholder-no-fix" id="backgroud_alpha" style="width: 335px; cursor: pointer; display: inline-block;">
						<option value="0">0</option>
						<option value="0.1">0.1</option>
						<option value="0.2">0.2</option>
						<option value="0.3">0.3</option>
						<option value="0.4">0.4</option>
						<option value="0.5">0.5</option>
						<option value="0.6">0.6</option>
						<option value="0.7">0.7</option>
						<option value="0.8">0.8</option>
						<option value="0.9">0.9</option>
						<option value="1.0">1.0</option>
					</select> 
                </div>
				<div class="tername mabottom" ng-if="show">
					<p>显现位置</p>
					<select class="form-control" id="content_location" style="width: 335px; cursor: pointer;display: inline-block;">
						<option value="0">上</option>
						<option value="1">中</option>
						<option value="2">下</option>
					</select>
				</div>
				<div class="tername" ng-if="show">
            	<p>推送显示时间</p>
                <input type="text" autocomplete="off" class="form-control placeholder-no-fix" id="show_minute" style="width: 300px;">
                <span>分钟</span>
                </div>
            </div>
            <div class="modal-footer">
            	<button class="btn btn-primary" type="button" ng-click="opt();">确定</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
            </div>
        </div>
    </div>
</div>
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">删除</h3>
            </div>
            <div class="modal-body">
            	<input type="hidden" id="delid">
                <p>你确定要删除该终端吗？</p>
            </div>
            <div class="modal-footer">
            	<button class="btn btn-primary" type="button" ng-click="delterminal();">确定</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                
            </div>
        </div>
    </div>
</div>
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal1" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">添加终端</h4>
            </div>
            <div class="modal-body">
            	<div class="tername mabottom">
            	<p>设备地址</p>
                <input type="text" autocomplete="off" class="form-control placeholder-no-fix" id="address">
                </div>
                <div class="tername">
                <p>MAC地址</p>
                <input type="text" autocomplete="off" class="form-control placeholder-no-fix" id="mac">
                </div>

            </div>
            <div class="modal-footer">
            	<button class="btn btn-primary" type="button" ng-click="addTerminal();">确定</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                
            </div>
        </div>
    </div>
</div>
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal4" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">更新</h4>
            </div>
            <div class="modal-body">
               <div class="tername mabottom">
            	<p>设备地址</p>
                <input type="text" autocomplete="off" class="form-control placeholder-no-fix" id="updateaddress">
                </div>
                <div class="tername">
                <p>MAC地址</p>
                <input type="text" autocomplete="off" class="form-control placeholder-no-fix" id="updatemac">
                <input type="hidden" autocomplete="off" class="form-control placeholder-no-fix" id="updateid">
                </div>

            </div>
            <div class="modal-footer">
            	<button class="btn btn-primary" type="button" ng-click="update();">确定</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                
            </div>
        </div>
    </div>
</div>
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal2" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">锁定终端</h4>
            </div>
            <div class="modal-body">
                <p>你确定锁定全部终端吗？</p>
               

            </div>
            <div class="modal-footer">
            	<button class="btn btn-primary" type="button">确定</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                
            </div>
        </div>
    </div>
</div>
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal3" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">锁定终端</h4>
            </div>
            <div class="modal-body">
            	<input type="hidden" id="lockedId">
                <p>你确定锁定该终端吗？</p>
               

            </div>
            <div class="modal-footer">
            	<button class="btn btn-primary" type="button" ng-click="lockedSubmit();">确定</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                
            </div>
        </div>
    </div>
</div>
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal5" class="modal fade">
    <div class="modal-dialog cutImg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               
            </div>
            <div class="modal-body">
            	<div id="offsetImg" class="offset" style="display: none;">
                    <img src="images/blog/blog-sm-img.jpg" id="img"/>
                </div>
                <!-- 截图加载中  -->
		       <div id="loadImg" class="load" style="display: none;">
		           <img src="images/loading1.gif" />
		       </div>
	       <!-- 截图加载中  -->
           </div>
            
        </div>
    </div>
</div>
