.sql-headwrap{
	height: 100px;
	box-shadow: 0px 1px 20px 0px rgba(0,0,0,0.3); 
    -webkit-box-shadow: 0px 1px 20px 0px rgba(0,0,0,0.3);
    position: relative;
}
.sql-headcontain{
	width: 1000px;
	height: 100px;
	line-height: 100px;
	margin: 0 auto;
	padding: 0 20px;
}
.sql-logo{
	font-size: 30px;
	color: #333;
	font-weight: bold;
}
.sql-login{
	font-size: 18px;
	color: #999;
	float: right;
}
.sql-footer{
	text-align: center;
	color: #c6c6c6;
	font-size: 14px;
	background: #f1f1f1;
	height: 105px;
	/*padding-top: 40px;*/
}
.sql-footer span{
	display: block;
}
.sql-footer span:nth-of-type(1){
	padding: 20px 0 5px;
}